{% extends 'shopeaze/base.html' %}
{% load crispy_forms_tags %}
{% block title_extension %}Seller {% endblock %}
{% block extra %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet"/>

{% endblock %}
{% if seller %}
    {% block nav %}
        <div class="container">
            {% if line %}
                {% for x in line %}
                    <a class="navbar-brand" href="{% url 'shop:index' %}"><span style="    font-family: 'Yellowtail';
">{{ x }}</span></a>
                {% endfor %}

            {% else %}
                <a class="navbar-brand" href="{% url 'shop:index' %}">Shop<span style="    font-family: 'Yellowtail';
"><b>Eaze</b></span></a>

            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        {% if line %}
                            {% for x in line %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{% url 'shop:index' %}" id="dropdown04"
                                       data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false"><span>{{ x }}</span></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                                        <a class="dropdown-item" href="{% url 'sellers:line_sales' %}">Sales</a>
                                        <a class="dropdown-item" href="{% url 'sellers:line_orders' %}">Orders</a>
                                        <a class="dropdown-item" href="{% url 'sellers:line_messages' %}">Messages</a>
                                        <a class="dropdown-item" href="{% url 'sellers:line_reports' %}">Reports</a>
                                    </div>
                                </li>
                            {% endfor %}

                            {#                            <li class="nav-item dropdown">#}
                            {#                                <a class="nav-link dropdown-toggle" href="" id="dropdown04"#}
                            {#                                   data-toggle="dropdown"#}
                            {#                                   aria-haspopup="true" aria-expanded="false">My Stores</a>#}
                            {#                                <div class="dropdown-menu" aria-labelledby="dropdown04">#}
                            {#                                    <a class="dropdown-item" href="{% url 'sellers:line_orders' %}">Line Orders</a>#}
                            {#                                    <a class="dropdown-item" href="{% url 'sellers:line_messages' %}">Line Messages</a>#}
                            {#                                    <a class="dropdown-item" href="{% url 'sellers:line_reports' %}">Reports</a>#}
                            {#                                </div>#}
                            {#                            </li>#}
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="dropdown04"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Store Line</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    <a class="dropdown-item" href="#">Create Line </a>

                                </div>
                            </li>

                        {% endif %}
                    {% endif %}
                    <li class="nav-item"><a href="{% url 'sellers:about-us' %}" class="nav-link">About</a></li>
                    {#	          <li class="nav-item"><a href="{% url 'shop:blog' %}" class="nav-link">Blog</a></li>#}
                    <li class="nav-item"><a href="{% url 'sellers:contact-us' %}" class="nav-link">Contact</a></li>


                    <li class="nav-item cta cta-colored"><a href="{% url 'customer-accounts:panel' %}" class="nav-link"><span
                    ></span>Panel</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'customer-accounts:login' %}"
                               id="dropdown04" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{% url 'customer-accounts:logout' %}">Log out</a>

                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'customer-accounts:login' %}"
                               id="dropdown04" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Accounts</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{% url 'customer-accounts:login' %}">Login</a>
                                <a class="dropdown-item" href="{% url 'customer-accounts:signup' %}">Register</a>

                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}

{% endif %}
{% block maincontent %}


    <div class="container">
        <div class="card ">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="tabs">
                    <li class="nav-item">
                        <a class="active nav-link active" href="#add" data-toggle="tab">Add new store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#update" data-toggle="tab">View Stores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#view" data-toggle="tab">Update Stores</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="add">
                        <h3 class="text-center">Add New Store</h3>

                        <form method="post" action="{% url 'sellers:addstore' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for x in StoresForm %}
                                <div class="form-group">
                                    {{ x|as_crispy_field }}
                                    {#                                {{ StoresForm|crispy }}#}
                                </div>
                                <br>
                                <br>
                            {% endfor %}
                            {% if line %}
                                <button type="submit" class="btn btn-success">submit</button>
                            {% else %}
                                <button type="submit" class="btn btn-warning" disabled>submit</button>

                            {% endif %}
                        </form>
                    </div>
                    <div class="tab-pane" id="view">

                        <h3 class="text-center">Update Stores</h3>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Store id</th>
                                <th scope="col">Store Name</th>
                                <th scope="col">phone number</th>
                                <th scope="col">email</th>
                                <th scope="col">time added</th>
                                <th scope="col">Update</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for store in stores %}
                                <tr>
                                    <form method="post" action="{% url 'sellers:updatestore' %}">
                                        {% csrf_token %}
                                        <td>
                                            <div class="mb-3 col-12">{{ store.pk }}</div>
                                            <input type="hidden" name="store" value="{{ store.pk }}">

                                        </td>
                                        <td>
                                            <div class="mb-3 col-12">{{ store.name }}</div>

                                        </td>
                                        <td>
                                            <div class=" mb-3 col-12">
                                                <input type="text" name="number"
                                                       class="quantity form-control input-number"
                                                       value="{{ store.phone_number }}"
                                                >
                                            </div>
                                        </td>
                                        <td>
                                <div class=" mb-3 col-12">
                                    <input type="text" name="email"
                                           class="quantity form-control input-number" value="{{ store.email }}"
                                    >
                                </div>
                            </td>
                            <td>
                                <div class="mb-3 col-12">{{ store.time_added }}</div>
                            </td>
                                        <td>
                                            <button type="submit">Update</button>
                                        </td>
                                    </form>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="update">
                        <h3 class="text-center">My Stores</h3>
                        <p>
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Store id</th>
                                <th scope="col">Store Name</th>
                                <th scope="col">phone number</th>
                                <th scope="col">email</th>
                                <th scope="col">time added</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for store in stores %}
                                <tr>
                                    <th scope="row">{{ store.pk }}</th>
                                    <td>{{ store.name }}</td>
                                    <td>{{ store.phone_number }}</td>
                                    <td>{{ store.email }}</td>
                                    <td>{{ store.time_added }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}