{% extends 'shopeaze/base.html' %}
{% load static %}
{% block title_extension %}404 error{% endblock %}
{% block nav %}
    <div class="container">
        <a class="navbar-brand" href="{% url 'shop:index' %}">Shop<span style="    font-family: 'Yellowtail';
"><b>Eaze</b></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{% url 'shop:index' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{% url 'shop:contact-us' %}" class="nav-link">Contact</a></li>

            </ul>
        </div>
    </div>
{% endblock %}

{% block styling %}{% endblock %}
{% block extra %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'errors/css/style.css' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block maincontent %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404"></div>
            <h1>404</h1>
            <h2>UH-OH.The resource you are looking for does not exist</h2>
            <a href="{% url 'shop:index' %}">Back to homepage</a>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}