{% extends 'shopeaze/base.html' %}
{% load static %}
{% block title_extension %}404 error{% endblock %}
{% block nav %}
{% endblock %}

{% block extra %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'errors/css/style.css' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock %}
{% block maincontent %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404"></div>
            <h1>500</h1>
            <h2>UH-OH.SEEMS LIKE WE HAVE A PROBLEM ON OUR END</h2>
            {#			<p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>#}
            {#			<a href="{% url 'shop:index' %}">Back to homepage</a>#}
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}