{% extends 'shopeaze/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title_extension %}{{ store.name }} Order{{ order.order_string }} {% endblock %}
{% block extra %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet"/>

{% endblock %}
{% block nav %}
    <div class="container">
        {% if line %}
            {% for x in line %}
                <a class="navbar-brand" href="{% url 'shop:index' %}"><span
                        style=" font-family: 'Yellowtail'; color: #82ae46">{{ x }}</span></a>
            {% endfor %}

        {% else %}
            <a class="navbar-brand" href="{% url 'shop:index' %}">Shop<span style="    font-family: 'Yellowtail';
"><b>Eaze</b></span></a>

        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    {% if line %}
                        {% for x in line %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{% url 'shop:index' %}" id="dropdown04"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"><span>{{ x }}</span></a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    <a class="dropdown-item" href="{% url 'sellers:line_sales' %}">Sales</a>
                                    <a class="dropdown-item" href="{% url 'sellers:line_orders' %}">Orders</a>
                                    <a class="dropdown-item" href="{% url 'sellers:line_messages' %}">Messages</a>
                                    <a class="dropdown-item" href="{% url 'sellers:line_reports' %}">Reports</a>
                                </div>
                            </li>
                        {% endfor %}

                        {#                            <li class="nav-item dropdown">#}
                        {#                                <a class="nav-link dropdown-toggle" href="" id="dropdown04"#}
                        {#                                   data-toggle="dropdown"#}
                        {#                                   aria-haspopup="true" aria-expanded="false">My Stores</a>#}
                        {#                                <div class="dropdown-menu" aria-labelledby="dropdown04">#}
                        {#                                    <a class="dropdown-item" href="{% url 'sellers:line_orders' %}">Line Orders</a>#}
                        {#                                    <a class="dropdown-item" href="{% url 'sellers:line_messages' %}">Line Messages</a>#}
                        {#                                    <a class="dropdown-item" href="{% url 'sellers:line_reports' %}">Reports</a>#}
                        {#                                </div>#}
                        {#                            </li>#}
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdown04"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Store Line</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="#">Create Line </a>

                            </div>
                        </li>

                    {% endif %}
                {% endif %}
                <li class="nav-item"><a href="{% url 'sellers:about-us' %}" class="nav-link">About</a></li>
                {#	          <li class="nav-item"><a href="{% url 'shop:blog' %}" class="nav-link">Blog</a></li>#}
                <li class="nav-item"><a href="{% url 'sellers:contact-us' %}" class="nav-link">Contact</a></li>


                <li class="nav-item cta cta-colored"><a href="{% url 'customer-accounts:panel' %}"
                                                        class="nav-link"><span
                ></span>Panel</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'customer-accounts:login' %}"
                           id="dropdown04" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{{ user }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{% url 'customer-accounts:logout' %}">Log out</a>

                        </div>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'customer-accounts:login' %}"
                           id="dropdown04" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Accounts</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{% url 'customer-accounts:login' %}">Login</a>
                            <a class="dropdown-item" href="{% url 'customer-accounts:signup' %}">Register</a>

                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block maincontent %}
    <div class="container">
        <div class="card ">
            <div class="card-header" style="text-align: center">
                <p>Order Details</p>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead style="    background-color: rgba(0,122,0,0.99);border-radius: 6px;">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    {% for item in order_items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.item.item_name }}</td>
                            <td>{{ item.quantity }}</td>
                            {% if item.discounted %}
                                <td>{{ item.item.discounted_price_per_unit }}.00</td>
                            {% else %}
                                <td>{{ item.item.price_per_unit }}.00</td>

                            {% endif %}
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <a class="btn btn-success" href="{% url 'staff:confirmOrderFulfillment' order.pk %}">Confirm
                            Order</a>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">

                        <a class="btn btn-warning">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}