

{% extends 'michpastries/base.html' %}
{% load static %}
{% block title_extension %}Product{% endblock %}
{% block maincontent %}
    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs">
                        {#                        <span class="mr-2"><a href="../michpastries/index.html">Home</a></span> #}
                        <span
                                class="mr-2"><a
                                href="{% url 'shop:product-single' product.pk %}">{{ product.item_name }}</a></span>
                        <span>{{ product.category }}</span></p>
                    <h1 class="mb-0 bread">{{ product.item_name }}</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate">
                    {#    				<a href="{{product.image.url}}" class="image-popup">#}
                    <img src="{{ product.image.url }}" class="img-fluid" alt="Colorlib Template">
                    {#                    </a>#}
                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3>{{ product.item_name }}</h3>
                    <div class="rating d-flex">
                        {#							<p class="text-left mr-4">#}
                        {#								<a href="#" class="mr-2">5.0</a>#}
                        {#								<a href="#"><span class="ion-ios-star-outline"></span></a>#}
                        {#								<a href="#"><span class="ion-ios-star-outline"></span></a>#}
                        {#								<a href="#"><span class="ion-ios-star-outline"></span></a>#}
                        {#								<a href="#"><span class="ion-ios-star-outline"></span></a>#}
                        {#								<a href="#"><span class="ion-ios-star-outline"></span></a>#}
                        {#							</p>#}
                        {#                        todo add ratings later#}
                        {#							<p class="text-left mr-4">#}
                        {#								<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>#}
                        {#							</p>#}
                        {#							<p class="text-left">#}
                        {#								<a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>#}
                        {#							</p>#}
                    </div>

                    <p class="price"><span>{{ product.price_per_kg }} per {{ product.category.unit }}</span></p>
                    <p>
                        {{ product.description }}
                    </p>
                    {% if product.category.name == 'cup cakes' %}
                        <div class="row mt-4">

                            <form>
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <div class="w-100"></div>
                                <div class="input-group col-md-6 d-flex mb-3">
	             	    <span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn" data-type="minus"
                                onclick="changeSubtract()" data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                           value="1" min="6" step="1">
                                    <span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" data-type="plus" onclick="changeAdd()"
                                data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>
	             	</span>
                                </div>
                            </form>
                            <div class="w-100"></div>
                            {#                            <div class="col-md-12">#}
                            {#                                <p style="color: #000;">Total:<div id="totals"> </div></p>#}
                            {#                            </div>#}
                        </div>
                        <p><a href="{% url 'shop:cart-add ' product.pk %}" class="btn btn-black py-3 px-5">Add to
                            Cart</a></p>
                    {% elif product.category.name == 'cakes' %}
                        <div class="row mt-4">

                            <div class="input-group col-md-6 d-flex mb-3">
                                <label for="quantity">Amount</label>
                                <span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn" onclick="changeSubtract()"
                                data-type="minus" data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>
                                <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                       value="1" min="1" max="100">
                                <span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" onclick="changeAdd()" data-type="plus"
                                data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>

	             	</span>
                            </div>


                            <div class="w-100"></div>
                            <div class="input-group col-md-6 d-flex mb-3">
                                <label for="size">Size</label>
                                <span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn" onclick="changeSizeSubtract()"
                                data-type="minus" data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>
                                <input type="text" id="size" name="size" class="form-control input-number"
                                       value="1" min="1" step="0.5" max="100">
                                <span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" onclick="changeSizeAdd()" data-type="plus"
                                data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>

	             	</span>
                            </div>
                            {#                            <div class="col-md-12">#}
                            {#                                <p style="color: #000;">600 kg available</p>#}
                            {#                            </div>#}
                        </div>
                        <p><a href="{% url 'shop:cart-add' product.pk %}" class="btn btn-black py-3 px-5">Add to
                            Cart</a></p>
                    {% elif product.category.name == 'others' %}
                        <div class="row mt-4">

                            <form>
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <div class="w-100"></div>
                                <div class="input-group col-md-6 d-flex mb-3">
	             	    <span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn" data-type="minus"
                                onclick="changeSubtract()" data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                           value="1" min="6" step="1">
                                    <span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" data-type="plus" onclick="changeAdd()"
                                data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>
	             	</span>
                                </div>
                            </form>
                            <div class="w-100"></div>
                            {#                            <div class="col-md-12">#}
                            {#                                <p style="color: #000;">Total:<div id="totals"> </div></p>#}
                            {#                            </div>#}
                        </div>
                        <p><a href="{% url 'shop:cart-add ' product.pk %}" class="btn btn-black py-3 px-5">Add to
                            Cart</a></p>

                    {% else %}
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <form>
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <div class="form-group d-flex">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">Small</option>
                                                <option value="">Medium</option>
                                                <option value="">Large</option>
                                                <option value="">Extra Large</option>
                                            </select>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="w-100"></div>
                            <div class="input-group col-md-6 d-flex mb-3">
	             	<span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>
                                <input type="text" id="quantity" name="quantity" class="form-control input-number"
                                       value="1" min="1" max="100">
                                <span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>
	             	</span>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <p style="color: #000;">600 kg available</p>
                            </div>
                        </div>
                        <p><a href="cart.html" class="btn btn-black py-3 px-5">Add to Cart</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <script>
        function changeAdd() {
            var x = Number(document.getElementById("quantity").value);
            console.log(x + 1);
            document.getElementById("quantity").value = x + 1;

        }

        function changeSubtract() {
            var x = Number(document.getElementById("quantity").value);
            console.log(x - 1);
            document.getElementById("quantity").value = x - 1;

        }


        function changeSizeAdd() {
            var x = Number(document.getElementById("size").value);
            console.log(x + 0.5);
            document.getElementById("size").value = x + 0.5;

        }

        function changeSizeSubtract() {
            var x = Number(document.getElementById("size").value);
            console.log(x - 0.5);
            document.getElementById("size").value = x - 0.5;

        }
    </script>

{% endblock %}
