{% extends 'shopeaze/base.html' %}
{% load static %}
{% block title_extension %} Login {% endblock %}
{% block maincontent %}
    <section style="height: 100%">

        <div style="color: red">
            {% if form.errors %}
                <p class="warning">Your username or password didn't match with an existing one. Please try again.</p>
            {% endif %}
            <div class="limiter">
                <div>
                    <div>
                        {#                        <div class="login100-form-title"#}
                        {#                             style="background-image: url('{% static 'images/bg-01.jpg' %}');">#}
                        {#					<span class="login100-form-title-1">#}
                        {#						Sign In#}
                        {#					</span>#}
                        {#                        </div>#}

                        <form method="post">
                            {#					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">#}
                            {#						<span class="label-input100">Username</span>#}
                            {#						<input class="input100" type="text" name="username" placeholder="Enter username">#}
                            {#						<span class="focus-input100"></span>#}
                            {#					</div>#}
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }}<br>
                                <div data-validate="Field is required">
                                    {{ field }}
                                    <span></span>
                                </div>
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                                {% if field.help_text %}
                                    <p><small style="color: grey">{{ field.help_text }}</small></p>
                                {% endif %}
                                </p>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary ">Log in</button>
                            <a href="{% url 'customer-accounts:signup' %}">New to My Site? Sign up</a>
                            <a href="{% url 'customer-accounts:forgot' %}">Forgot password?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}{% endblock %}
