{% extends 'shopeaze/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_extension %} Login {% endblock %}
{% block maincontent %}
    <div class="container">
        <div class="card ">

            <div class="card-body">
                <div style="color: red">

                    <div class="limiter">
                        <div class="container-login100">
                            <div class="wrap-login100">
                                {#                        <div class="login100-form-title"#}
                                {#                             style="background-image: url('{% static 'images/bg-01.jpg' %}');">#}
                                {#					<span class="login100-form-title-1">#}
                                {#						Sign In#}
                                {#					</span>#}
                                {#                        </div>#}

                                <form class="login100-form validate-form" method="post"
                                      action="{% url 'customer-accounts:signup' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ next }}"/>
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary px-3 py-3">Register as a new member</button>
                                    <a href="{% url 'customer-accounts:login' %}">Already a member? Sign up</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
