

{% extends 'shopeaze/base.html' %}
{% load static %}
{% block cart_link %}{% endblock %}
{% block title_extension %}Mpesa loading{% endblock %}
{% block maincontent %}
    <div class="container">


        <div class="card ">
            <div class="card-header" style="text-align: center">
                <p>Cash On Delivery</p>
            </div>
            <div class="card-body">
                <p style="color: #1c7430;text-align: center"><b>You must have the amount ofmoney of the items you just
                    bought at the time of reception of the items</b></p>
                <a href="{% url 'payments:payments-cash-done' %}" class="btn btn-success">Check Out</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}