{% extends 'shopeaze/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_extension %}Check-out{% endblock %}
{% block cart %}
    {{ cart_count }}
{% endblock %}

{% block extra %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet"/>

{% endblock %}
{% block maincontent %}

    <div class="hero-wrap hero-bread" style="background-color: rgba(0,122,0,0.99)">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'shop:index' %}">Home</a></span>
                    </p>
                    <h1 class="mb-0 bread">Checkout</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 ftco-animate">
                    <div class="billing-details">
                        <h3 class="mb-4 billing-heading">Billing Details</h3>
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input type="text" class="form-control" disabled value="{{ user.first_name }}"
                                           placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" disabled value="{{ user.last_name }}"
                                           placeholder="">
                                </div>
                            </div>
                            {#                            <div class="w-100"></div>#}
                            {#                            <div class="col-md-12">#}
                            {#                                <div class="form-group">#}
                            {#                                    <label for="country">State / Country</label>#}
                            {#                                    <div class="select-wrap">#}
                            {#                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>#}
                            {#                                        <select name="" id="" class="form-control">#}
                            {#                                            <option value="">France</option>#}
                            {#                                            <option value="">Italy</option>#}
                            {#                                            <option value="">Philippines</option>#}
                            {#                                            <option value="">South Korea</option>#}
                            {#                                            <option value="">Hongkong</option>#}
                            {#                                            <option value="">Japan</option>#}
                            {#                                        </select>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <div class="w-100"></div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="streetaddress">Street Address</label>
                                    <input type="text" class="form-control" disabled value="{{ user.profile.address }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="towncity">Town / City</label>
                                    <input type="text" class="form-control" disabled
                                           value="{{ user.profile.location }}">
                                </div>
                            </div>
                            <div class="w-100"></div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mpesa_number">Mobile payment option number(Mpesa) *</label>
                                    <input type="text" class="form-control" disabled
                                           value="{{ user.profile.mobile_money_phone_number }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Alternative Phone</label>
                                    <input type="text" class="form-control" disabled
                                           value="{{ user.profile.alternative_phone_number }}">
                                </div>
                            </div>
                            <div class="w-100"></div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="emailaddress">Email Address</label>
                                    <input type="text" class="form-control" disabled value="{{ user.email }}">
                                </div>
                            </div>
                            <div class="w-100"></div>

                        </div>
                    </div><!-- END -->
                </div>
                <div class="col-xl-5">
                    <div class="row mt-5 pt-3">
                        <div class="col-md-12 d-flex mb-5">
                            <div class="cart-detail cart-total p-3 p-md-4">
                                <h3 class="billing-heading mb-4 " style="color: #82ae46;text-align: -moz-center">Cart
                                    Total</h3>
                                <p class="d-flex">
                                    <span>Subtotal</span>
                                    <span>ksh {{ cart_sum }}.00 </span>
                                </p>
                                <p class="d-flex">
                                    <span>Delivery</span>
                                    <span>To be continued</span>
                                </p>
                                <hr>
                                <p class="d-flex total-price">
                                    <span>Total</span>
                                    <span> ksh {{ cart_sum }}.00</span>
                                </p>
                            </div>
                        </div>
                        <form action="{% url 'shop:payment_actions' %}" method="post">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <div class="cart-detail p-3 p-md-4">
                                    <h3 class="billing-heading mb-4">Payment Method*</h3>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="radio">
                                                {{ paymentsform|crispy }}

                                            </div>
                                        </div>
                                    </div>


                                    <p>
                                        <button type="submit" class="btn btn-primary py-3 px-4">Place an order</button>
                                    </p>
                                </div>
                            </div>

                        </form>
                    </div>
                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section> <!-- .section -->
{% endblock %}