{% extends 'shopeaze/base.html' %}
{% load static %}
{% block title_extension %}Contact Us{% endblock %}
{% block cart %}
    {{ cart_count }}
{% endblock %}
{% if seller %}
    {% block nav %}
        <div class="container">
            {% if line %}
                {% for x in line %}
                    <a class="navbar-brand" href="{% url 'shop:index' %}"><span style="    font-family: 'Yellowtail';
">{{ x }}</span></a>
                {% endfor %}

            {% else %}
                <a class="navbar-brand" href="{% url 'shop:index' %}">Shop<span style="    font-family: 'Yellowtail';
"><b>Eaze</b></span></a>

            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        {% if line %}
                            {% for x in line %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="{% url 'shop:index' %}" id="dropdown04"
                                       data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false"><span>{{ x }}</span></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                                        <a class="dropdown-item" href="{% url 'sellers:line_sales' %}">Sales</a>
                                        <a class="dropdown-item" href="{% url 'sellers:line_orders' %}">Orders</a>
                                        <a class="dropdown-item" href="{% url 'sellers:line_messages' %}">Messages</a>
                                        <a class="dropdown-item" href="{% url 'sellers:line_reports' %}">Reports</a>
                                    </div>
                                </li>
                            {% endfor %}

                            {#                            <li class="nav-item dropdown">#}
                            {#                                <a class="nav-link dropdown-toggle" href="" id="dropdown04"#}
                            {#                                   data-toggle="dropdown"#}
                            {#                                   aria-haspopup="true" aria-expanded="false">My Stores</a>#}
                            {#                                <div class="dropdown-menu" aria-labelledby="dropdown04">#}
                            {#                                    <a class="dropdown-item" href="{% url 'sellers:line_orders' %}">Line Orders</a>#}
                            {#                                    <a class="dropdown-item" href="{% url 'sellers:line_messages' %}">Line Messages</a>#}
                            {#                                    <a class="dropdown-item" href="{% url 'sellers:line_reports' %}">Reports</a>#}
                            {#                                </div>#}
                            {#                            </li>#}
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="dropdown04"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Store Line</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown04">
                                    <a class="dropdown-item" href="#">Create Line </a>

                                </div>
                            </li>

                        {% endif %}
                    {% endif %}
                    <li class="nav-item"><a href="{% url 'sellers:about-us' %}" class="nav-link">About</a></li>
                    {#	          <li class="nav-item"><a href="{% url 'shop:blog' %}" class="nav-link">Blog</a></li>#}
                    <li class="nav-item"><a href="{% url 'sellers:contact-us' %}" class="nav-link">Contact</a></li>


                    <li class="nav-item cta cta-colored"><a href="{% url 'customer-accounts:panel' %}" class="nav-link"><span
                    ></span>Panel</a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'customer-accounts:login' %}"
                               id="dropdown04" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{% url 'customer-accounts:logout' %}">Log out</a>
                                <a class="dropdown-item" href="{% url 'sellers:profile' %}">Profile</a>

                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'customer-accounts:login' %}"
                               id="dropdown04" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Accounts</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="{% url 'customer-accounts:login' %}">Login</a>
                                <a class="dropdown-item" href="{% url 'customer-accounts:signup' %}">Register</a>

                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}

{% endif %}{% block maincontent %}

    <div class="hero-wrap hero-bread" style="background-image: url('../../static/images/bg_1.jpg');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'shop:index' %}">Home</a></span>
                        <span>Contact us</span></p>
                    <h1 class="mb-0 bread">Contact us</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="w-100"></div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Address:</span> Address of hq</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Phone:</span> <a href="tel://+254768715841">+ 254768715841</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Email:</span> <a href="mailto:info@shopeaze.com">info@shopeaze.com</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Website</span> <a href="#">shopeaze.com</a></p>
                    </div>
                </div>
            </div>
            <div class="row block-9 justify-content-center">
                <div class="col-md-8 order-md-c d-flex ">
                    <form method="post" action="{% url 'shop:contact-us' %}" class="bg-white p-5 contact-form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field }}
                            </div>

                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary py-3 px-5">Send Message</button>
                        </div>
                    </form>

                </div>

                {#                <div class="col-md-6 d-flex">#}
                {#                    <div id="map" class="bg-white"></div>#}
                {#                </div>#}
            </div>
        </div>
    </section>
{% endblock %}
