{% extends 'shopeaze/base.html' %}
{% load static %}
{% block title_extension %}Contact Us{% endblock %}
{% block cart %}
    {{ cart_count }}
{% endblock %}
{% block maincontent %}

    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'shop:index' %}">Home</a></span>
                        <span>Contact us</span></p>
                    <h1 class="mb-0 bread">Contact us</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="w-100"></div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Address:</span> Address of hq</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Phone:</span> <a href="tel://+254768715841">+ 254768715841</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Email:</span> <a href="mailto:info@shopeaze.com">info@shopeaze.com</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="info bg-white p-4">
                        <p><span>Website</span> <a href="#">shopeaze.com</a></p>
                    </div>
                </div>
            </div>
            <div class="row block-9 justify-content-center">
                <div class="col-md-8 order-md-c d-flex ">
                    <form method="post" action="{% url 'shop:contact-us' %}" class="bg-white p-5 contact-form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field }}
                            </div>

                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary py-3 px-5">Send Message</button>
                        </div>
                    </form>

                </div>

                {#                <div class="col-md-6 d-flex">#}
                {#                    <div id="map" class="bg-white"></div>#}
                {#                </div>#}
            </div>
        </div>
    </section>
{% endblock %}
