{% extends 'shopeaze/base.html' %}
{% load static %}
{% block title_extension %} Stores {% endblock %}
{% block cart %}
    {{ cart_count }}
{% endblock %}
{% block formSearch %}
    <form class="form-inline ml-0 col-md  " method="post" action="{% url 'shop:searchLocation' %}">
        {% csrf_token %}
        <div class="form-group ">
            {{ formSearchShop }}
            <button type="submit" class="btn btn-success"><i class="icon-search"></i></button>
        </div>
    </form>

{% endblock %}

{% block maincontent %}
    <section class="ftco-section">


        <div class="container">
            <div class="row">
                {% for store in stores %}

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="{% url 'shop:product-single' store.pk %}" class="img-prod"><img
                                    class="img-fluid" src="{{ store.line.logo.url }}"
                                    alt="{{ store.item_name }}" style="height: 100%">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="{% url 'sellers:store' store.pk %}">{{ store.name }}</a>
                                </h3>
                                <h3><a href="">{{ store.line.name }}</a>
                                </h3>

                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>


        </div>
    </section>
    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                    <span>Get e-mail updates about our latest shops and special offers</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="{% url 'shop:subscribe' %}" method="post" class="subscribe-form">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="form-group d-flex">
                            {{ subscribe_form.email }}
                            <button type="submit" class="submit px-3">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}