{% extends 'shopeaze/base.html' %}
{% load static %}
{% block title_extension %} {{ store.name }} {% endblock %}
{% block cart %}
    {{ cart_count }}
{% endblock %}

{% block formSearch %}
    <form class="form-inline ml-0 col-md  " method="post" action="{% url 'shop:search' %}">
        {% csrf_token %}
        <input type="hidden" value="{{ store }}" name="store">
        <div class="form-group ">
            <input type="text" class="col-6"
                   name="{{ search_form.item.name }}"
                   id="{{ search_form.item.id_for_label }}"
                   placeholder="search in {{ store.name }}"
                   maxlength="{{ form.name.field.max_length }}"
                   required
            >
            <button type="submit" class="btn btn-success"><i class="icon-search"></i></button>
        </div>
    </form>

{% endblock %}
{% block maincontent %}

    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_1.jpg' %}');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'shop:index' %}">Home</a></span>
                        <span>{{ store.line.name }}</span></p>
                    <h1 class="mb-0 bread " style=" font-family: 'Yellowtail',sans-serif;">{{ store.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    {#                                        <h2 class="mb-4">{{store.name}}</h2>#}
                    <h2 class="mb-4">Featured Products</h2>

                    <span class="subheading">Featured Fruits</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in fruits %}
                    {% if product.discounted %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod">
                                    <img
                                            class="img-responsive" src="{{ product.image.url }}"
                                            alt="{{ product.item_name }}" style="width: 255px;height: 190px;">
                                    <span class="status">{{ product.discount }}%</span>
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span
                                                    class="mr-2 price-dc">ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span><span
                                                    class="price-sale">ksh {{ product.discounted_price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod"><img
                                        class="img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.item_name }}" style="height: 100%">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price">
                                                <span>ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

            </div>


        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Featured Vegetables</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in vegetables %}
                    {% if product.discounted %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod">
                                    <img
                                            class="img-responsive" src="{{ product.image.url }}"
                                            alt="{{ product.item_name }}" style="width: 255px;height: 190px;">
                                    <span class="status">{{ product.discount }}%</span>
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span
                                                    class="mr-2 price-dc">ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span><span
                                                    class="price-sale">ksh {{ product.discounted_price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod"><img
                                        class="img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.item_name }}" style="height: 100%">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price">
                                                <span>ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

            </div>


        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Featured Cereals and grains</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in cereals %}
                    {% if product.discounted %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod">
                                    <img
                                            class="img-responsive" src="{{ product.image.url }}"
                                            alt="{{ product.item_name }}" style="width: 255px;height: 190px;">
                                    <span class="status">{{ product.discount }}%</span>
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span
                                                    class="mr-2 price-dc">ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span><span
                                                    class="price-sale">ksh {{ product.discounted_price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod"><img
                                        class="img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.item_name }}" style="height: 100%">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price">
                                                <span>ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

            </div>


        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Featured Spices</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in spices %}
                    {% if product.discounted %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod">
                                    <img
                                            class="img-responsive" src="{{ product.image.url }}"
                                            alt="{{ product.item_name }}" style="width: 255px;height: 190px;">
                                    <span class="status">{{ product.discount }}%</span>
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span
                                                    class="mr-2 price-dc">ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span><span
                                                    class="price-sale">ksh {{ product.discounted_price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod"><img
                                        class="img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.item_name }}" style="height: 100%">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price">
                                                <span>ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

            </div>


        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Featured House hold items</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in household_items %}
                    {% if product.discounted %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod">
                                    <img
                                            class="img-responsive" src="{{ product.image.url }}"
                                            alt="{{ product.item_name }}" style="width: 255px;height: 190px;">
                                    <span class="status">{{ product.discount }}%</span>
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span
                                                    class="mr-2 price-dc">ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span><span
                                                    class="price-sale">ksh {{ product.discounted_price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod"><img
                                        class="img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.item_name }}" style="height: 100%">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price">
                                                <span>ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

            </div>


        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Sanitizers,laundry & disinfectants</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in sanitizers %}
                    {% if product.discounted %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod">
                                    <img
                                            class="img-responsive" src="{{ product.image.url }}"
                                            alt="{{ product.item_name }}" style="width: 255px;height: 190px;">
                                    <span class="status">{{ product.discount }}%</span>
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span
                                                    class="mr-2 price-dc">ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span><span
                                                    class="price-sale">ksh {{ product.discounted_price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod"><img
                                        class="img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.item_name }}" style="height: 100%">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price">
                                                <span>ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

            </div>


        </div>
    </section>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">New Products</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in new_products %}
                    {% if product.discounted %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod">
                                    <img
                                            class="img-responsive" src="{{ product.image.url }}"
                                            alt="{{ product.item_name }}" style="width: 255px;height: 190px;">
                                    <span class="status">{{ product.discount }}%</span>
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3>
                                        <a href="{% url 'shop:product-single' product.hash %}">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span
                                                    class="mr-2 price-dc">ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span><span
                                                    class="price-sale">ksh {{ product.discounted_price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="{% url 'shop:product-single' product.hash %}" class="img-prod"><img
                                        class="img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.item_name }}" style="height: 100%">
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3>
                                        <a href="{% url 'shop:product-single' product.hash %}">{{ product.item_name }}</a>
                                    </h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price">
                                                <span>ksh {{ product.price_per_unit }} per {{ product.category.unit }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            <a href="{% url 'shop:product-single' product.hash %}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                            <a href="{% url 'shop:add-wish' product.hash %}"
                                               class="heart d-flex justify-content-center align-items-center ">
                                                <span><i class="ion-ios-heart"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

            </div>


        </div>
    </section>
    {#    start of offer of the day#}
    {#    {% for product in products %}#}
    {#        {% if product.offer_of_the_day %}#}
    {#            <section class="ftco-section img" style="background-image: url({{ product.image.url }});">#}
    {#                <div class="container">#}
    {#                    <div class="row justify-content-end">#}
    {##}
    {#                        <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">#}
    {#                            <span class="subheading">Best Price For You</span>#}
    {#                            <h2 class="mb-4">Deal of the day</h2>#}
    {#                            <p class="subheading">{{ product.description }}</p>#}
    {#                            <h3><a href="{% url 'shop:product-single' product.hash %}" class="subheading">{{ product.item_name }}</a></h3>#}
    {#                            <span class="price" style="color: red">{{ product.price_per_unit }} <a#}
    {#                                    href="#">now {{ product.discounted_price_per_unit }}</a></span>#}
    {##}
    {#                        </div>#}
    {##}
    {#                    </div>#}
    {#                </div>#}
    {#            </section>#}
    {#        {% endif %}#}
    {#    {% endfor %}#}
    {#    end of offer of the day#}
    {#    <section class="ftco-section testimony-section">#}
    {#      <div class="container">#}
    {#        <div class="row justify-content-center mb-5 pb-3">#}
    {#          <div class="col-md-7 heading-section ftco-animate text-center">#}
    {#          	<span class="subheading">Testimony</span>#}
    {#            <h2 class="mb-4">Our satisfied customer says</h2>#}
    {#            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>#}
    {#          </div>#}
    {#        </div>#}
    {#        <div class="row ftco-animate">#}
    {#          <div class="col-md-12">#}
    {#            <div class="carousel-testimony owl-carousel">#}
    {#              <div class="item">#}
    {#                <div class="testimony-wrap p-4 pb-5">#}
    {#                  <div class="user-img mb-5" style="background-image: url({% static 'images/person_3.jpg' %})">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                  </div>#}
    {#                  <div class="text text-center">#}
    {#                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                    <p class="name">Garreth Smith</p>#}
    {#                    <span class="position">Marketing Manager</span>#}
    {#                  </div>#}
    {#                </div>#}
    {#              </div>#}
    {#              <div class="item">#}
    {#                <div class="testimony-wrap p-4 pb-5">#}
    {#                  <div class="user-img mb-5" style="background-image: url({% static 'images/person_3.jpg' %})">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                  </div>#}
    {#                  <div class="text text-center">#}
    {#                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                    <p class="name">Garreth Smith</p>#}
    {#                    <span class="position">Interface Designer</span>#}
    {#                  </div>#}
    {#                </div>#}
    {#              </div>#}
    {#              <div class="item">#}
    {#                <div class="testimony-wrap p-4 pb-5">#}
    {#                  <div class="user-img mb-5" style="background-image: url({% static 'images/person_3.jpg' %})">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                  </div>#}
    {#                  <div class="text text-center">#}
    {#                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                    <p class="name">Garreth Smith</p>#}
    {#                    <span class="position">UI Designer</span>#}
    {#                  </div>#}
    {#                </div>#}
    {#              </div>#}
    {#              <div class="item">#}
    {#                <div class="testimony-wrap p-4 pb-5">#}
    {#                  <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                  </div>#}
    {#                  <div class="text text-center">#}
    {#                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                    <p class="name">Garreth Smith</p>#}
    {#                    <span class="position">Web Developer</span>#}
    {#                  </div>#}
    {#                </div>#}
    {#              </div>#}
    {#              <div class="item">#}
    {#                <div class="testimony-wrap p-4 pb-5">#}
    {#                  <div class="user-img mb-5" style="background-image: url({% static 'images/person_1.jpg' %})">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                  </div>#}
    {#                  <div class="text text-center">#}
    {#                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                    <p class="name">Garreth Smith</p>#}
    {#                    <span class="position">System Analyst</span>#}
    {#                  </div>#}
    {#                </div>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {#        </div>#}
    {#      </div>#}
    {#    </section>#}

    <hr>

    {#		<section class="ftco-section ftco-partner">#}
    {#    	<div class="container">#}
    {#    		<div class="row">#}
    {#    			<div class="col-sm ftco-animate">#}
    {#    				<a href="#" class="partner"><img src="{% static 'images/partner-1.png' %}" class="img-fluid" alt="Colorlib Template"></a>#}
    {#    			</div>#}
    {#    			<div class="col-sm ftco-animate">#}
    {#    				<a href="#" class="partner"><img src="{% static 'images/partner-2.png' %}" class="img-fluid" alt="Colorlib Template"></a>#}
    {#    			</div>#}
    {#    			<div class="col-sm ftco-animate">#}
    {#    				<a href="#" class="partner"><img src="{% static 'images/partner-3.png' %}" class="img-fluid" alt="Colorlib Template"></a>#}
    {#    			</div>#}
    {#    			<div class="col-sm ftco-animate">#}
    {#    				<a href="#" class="partner"><img src="{% static 'images/partner-4.png' %}" class="img-fluid" alt="Colorlib Template"></a>#}
    {#    			</div>#}
    {#    			<div class="col-sm ftco-animate">#}
    {#    				<a href="#" class="partner"><img src="{% static 'images/partner-5.png' %}" class="img-fluid" alt="Colorlib Template"></a>#}
    {#    			</div>#}
    {#    		</div>#}
    {#    	</div>#}
    {#    </section>#}

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                    <span>Get e-mail updates about our latest shops and special offers</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="{% url 'shop:subscribe' %}" method="post" class="subscribe-form">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div class="form-group d-flex">
                            {{ subscribe_form.email }}
                            <button type="submit" class="submit px-3">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}